* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 2em;
}

header nav ul li:not(:last-child) {
    margin-right: 2em;
}

