/* Sélécteur : nom de la balise HTML */
h1 {
    /* Régle CSS permettant de définir la couleur du texte */
    color: white;
    /* Couleur d'arrière plan */
    background-color: #444;
} 

p {
    color: #ABC;
}